#!/bin/sh
backup_location=/
log=/var/log/duplicacy.log
hc_API_key={{ hc_API_key }}
hc_payload='{"name": "'`hostname`'_backup", "timeout": 86400, "grace": 43200, "unique": ["name"], "channels": "*"}'
hc_URL=`curl -s https://healthchecks.io/api/v1/checks/  -H "X-Api-Key: $hc_API_key" -d "$hc_payload"  | jq -r .ping_url`

hc_fail()
{
    curl -sS -m 10 --retry 5 $hc_URL/fail > /dev/null
    echo $(date '+%Y-%m-%d %H:%M:%S.%3N')" ERROR main backup healthcheck FAIL sent"
}

hc_start()
{
    curl -sS -m 10 --retry 5 $hc_URL/start > /dev/null
    echo $(date '+%Y-%m-%d %H:%M:%S.%3N')" INFO backup healthcheck START sent"
}

hc_ok()
{
    curl -sS -m 10 --retry 5 $hc_URL > /dev/null
    echo $(date '+%Y-%m-%d %H:%M:%S.%3N')" INFO backup healthcheck OK sent"
}

hc_start >> $log

cd $backup_location || exit
duplicacy -log -background prune -keep 0:360 -keep 30:1 >> $log
if [ $? != 0 ]; then hc_fail >> $log && exit 1; fi
/usr/local/bin/duplicacy -log -background backup -threads 10 >> $log
if [ $? != 0 ]; then hc_fail >> $log && exit 1; fi

hc_ok >> $log

exit 0
