#!/bin/sh
backup_location=/
log=/var/log/duplicacy.log
hc_API_key={{ hc_API_key }}
hc_payload='{"name": "'`hostname`'_backup", "timeout": 86400, "grace": 43200, "unique": ["name"], "channels": "*"}'
hc_URL=`curl -s https://healthchecks.io/api/v1/checks/  -H "X-Api-Key: $hc_API_key" -d "$hc_payload"  | jq -r .ping_url`

hc_fail()
{
    curl -m 10 --retry 5 $hc_URL/$?
}

hc_start()
{
    curl -m 10 --retry 5 $hc_URL/start
}

hc_ok()
{
    curl -m 10 --retry 5 $hc_URL
}

hc_start

cd $backup_location || exit
duplicacy -log -background prune -keep 0:360 -keep 30:1 >> $log
rc=$?; if [ $rc != 0 ]; then hc_fail; fi
duplicacy -log -background backup -threads 10 >> $log
rc=$?; if [ $rc != 0 ]; then hc_fail; fi

hc_ok

exit 0
